<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itheima.mapper.OrderMapper">

    <select id="selectAll" resultType="com.itheima.entity.Order">
        select *
        from tb_order
        <where>
            <if test="number != null and number!=''">
                number like #{number}
            </if>

            <if test="beginTime != null ">
                and
                order_time <![CDATA[ > ]]> #{beginTime}
            </if>

            <if test="endTime != null ">
                and
                order_time <![CDATA[ < ]]> #{endTime}
            </if>
        </where>
        limit #{page},#{pageSize};
    </select>
</mapper>